* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* HEADER -------------------- */
header {
    background-color: #0d369f;
    padding: 14px 15px;
}

.header-left li {
    display: inline-block;
    font-size: 15px;
    margin-right: 2em;
    color: white;

}

.header-left .iconphone i {
    font-size: 11px;
}

.header-left li i {
    margin-right: 4px;
    vertical-align: middle;

}

.header-left li a {
    font-size: 15px;
    font-weight: 500;
    color: white;

}

.header-right a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-right: 2.2em;

}

/* RESPONSIVE -------------------- */




/* NAV -------------------- */
.header-main {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-fix {
    height: 90px;
    display: grid;
    transition: all 0.5s;

}

.navbar {
    padding: 1.2rem 1rem;
    background-color: white !important;
}

.navbar .navbar-brand {
    color: #0d369f;
    font-size: 26px;
    align-items: center;
}

.navbar-collapse .navbar-nav li {
    padding: 0 12px;
}

.navbar-collapse .navbar-nav .nav-link {
    color: #060606;
    padding: 6px 0;
}

.navbar-collapse .navbar-nav .active .nav-link {
    color: #ff6e65;
}

.navbar-collapse .navbar-nav .dropdown {
    padding-right: 6px;
}

.navbar-collapse .dropdown-toggle i {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    vertical-align: top;
}

.navbar-collapse .dropdown-toggle::after {
    content: none;
}

.navbar-collapse .dropdown-menu {
    border: none;
    transform: translateX(-50px);
    padding: 16px 0;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

.navbar-collapse .dropdown-menu a {
    color: #060606;
    font-weight: 600;
    padding: 5px 24px;

}

.navbar-collapse .form-inline {
    margin: 0 10px 0 16px;
    position: relative;
}

.navbar-collapse .form-inline input {
    font-size: 15px;
    padding: 20px 35px 22px 20px;
    border-radius: 30px;
    border: 2px solid #eee;
}

.navbar-collapse .form-inline .btn {
    border: none;
    position: absolute;
    right: 16px;
    bottom: 4px;
    color: #0d369f;
}


.nav-theme .theme-switch {
    margin-left: 3px;
    font-size: 22px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.nav-theme .la-sun {
    display: none;
}



/* RESPONSIVE -------------------- */



/* CAROUSEL -------------------- */
.carousel .studio-item .banner1 {
    background-image: url(../img/banner1.jpg);
    background-position: right center;

}

.carousel .studio-item .banner2 {
    background-image: url(../img/banner2.jpg);
    background-position: top center;

}

.carousel .studio-item .viewbanner {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    padding: 3em 0;
    position: relative;
}

.carousel .studio-item .viewbanner::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
}

.carousel .studio-item .contentBanner {
    position: absolute;
    top: 153px;
    left: 153px;
}

.carousel .studio-item .contentBanner h2 {
    max-width: 600px;
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
    color: #fff;
}

.carousel .studio-item .contentBanner a {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
}

/* SERVICES -------------------- */
.services .content-box{
    padding: 50px 35px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}
.services .content-box i{
    font-size: 45px;
}
.services .content-box h3{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
}


.welcome{
    height: 200px;
}
/* BACKTOTOP -------------------- */
.backtoTop {
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;

    text-align: center;
    background: #0d369f;
    border-radius: 5px;

    position: fixed;
    bottom: 90px;
    right: 15px;
    transition: 0.5s;
    opacity: 0;
}

.backtoTop:hover {
    color: white;
    opacity: 0.8;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
