/* SERVICES -------------------- */
.services{
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: bottom right;
    padding: 48px 0;
}
.services .section-services{
    padding: 48px 15px;
}
.services .service-project{
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}
.services .service-project .icon{
    margin-right: 16px;
}
.services .service-project .icon i{
    color: #0d369f;
    background-color: #e9edf6;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 66px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}

.services .service-title h5{
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: 600;
    margin-bottom: 6px;
}

.services .service-title p{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
    font-weight: 400;
}



/* RESPONSIVE -------------------- */





/* CONTACT -------------------- */
.contactup .container{
    padding-bottom: 150px;
    margin-bottom: 48px;
}

.contactup .contactup-right h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contactup .contactup-right p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

.contactup .contactup-right button{
    background: #ff6e65;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 14px 30px;
    transition: 0.5s all;
}

.contactup .contactup-right button:hover{
    background-color: #0d369f;
}

.contactup .contactup-right a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}



.contact{
    padding: 80px 0;
    background: #060e1f;
    position: relative;
}
.contact .contact-sub{
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 0;
    top: -100px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.contact .contact-subtx1 h4{
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
}
.contact .contact-subtx1 p{
    font-size: 15px;
    color: #908d83;
    letter-spacing: 1px;
    line-height: 28px;
}

.contact .contact-subtx2 .contact-subf input{
    width: 80%;
}

.contact .contact-subtx2 .contact-subf button{
    width: 20%;
    height: 100%;
    background-color: #0d369f;
    color: white;
}

.contact .contact-sub .contact-subf{
    display: flex;
    flex-wrap: wrap;
}
.contact .contact-content{
    margin-top: 120px ;
}
.contact .contact-content h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.contact .contact-content li{
    padding: 0 0 10px 14px;
}

.contact .contact-content ul li a{
    position: relative;
    transition: all 0.3s;
}
.contact .contact-content ul li a:hover{
    color: white;
    text-decoration: none;
}

.contact span, .contact p, .contact a{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
}

.contact .contact-item li{
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}

.contact .contact-item li a{
    padding: 0;
    display: block;
    font-size: 1rem;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    background: rgba(255, 255, 255, 0.06);
    text-align: center;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s all;
}

.contact .contact-item li a:hover{
    opacity: 0.7;
}

.contact .contact-prof p a{
    text-decoration: none;
    transition: all 0.5s;
}

.contact .contact-prof p a:hover{
    color: white;
}

.contact .contact-prof p i{
    padding-right: 10px;
}


.contact .contact-about{
    border-left: 1px solid rgb(64 73 82 / 51%);
}


/* RESPONSIVE -------------------- */
@media screen and (max-width:992px) {
    .contact .contact-about{
        border-left: none;
    }
    .contact .contact-sub{
        margin: 0 2em;
    }
    .contact .contact-content li{
        padding: 0;
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {
    .contact .contact-content li{
    margin: 0;
    }
}

@media screen and (max-width:576px) {
    .contact .contact-content{
        margin-top: 200px ;
    }    
}




/* FOOTER -------------------- */
footer .footer-content{
    background: #040a17;
    padding: 20px 0;
}

footer .footer-copy{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
    font-weight: 300;
}

footer .footer-copy a{
    color: white;
    text-decoration: none;
}

footer .footer-copy a:hover{
    color: white;
}
